
<div class="container color-dark">
<div class="col">
    <p>Add ToDo Task</p>
</div>

<div class="col">
    <p>ToDo List</p>
</div>
</div>


<div class="container color-light">
    <div class="col">
        <h2>Use This For Add</h2>
        <form>
            <input type="text" class="text" name="projectname" placeholder="please add task">
            <br>
            <input type="submit" class="btn" value="add Task">
        </form>
    </div>
    <div class="col">
        <p class="project-container">Project list</p>
    </div>

   
</div>